:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --first-color: #212121;
  --second-color: #757575;
  --footer-color: rgba(255, 255, 255, 0.6);
  --color-white: #fff;
}

body {
  font-family: var(--main-font);
  color: var(--first-color);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* ================ COMPONENTS ================ */
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}
/* ================ END COMPONENTS ================ */

/* ======= LOGO ======= */
.logo {
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: var(--first-color);
}

.logo-white {
  color: var(--color-white);
}
/* ======= END LOGO ======= */

/* ======= HEADER ======= */
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  margin-right: 50px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.header-address {
  display: flex;
  margin-left: auto;
}

.nav-list-item-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--first-color);
  background-color: #fff;
}

.current {
  color: var(--accent-color);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--accent-color);
}

.header-address-list-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-address-list-link:hover,
.header-address-list-link:focus {
  color: var(--accent-color);
}
/* ======= END HEADER ======= */

/* ======= HERO ======= */
.hero {
  display: flex;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/bck-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 50px 0;
}

.hero-container {
  margin: auto;
  max-width: 726px;
  padding: 0 15px;
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;

  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  border: 0;
}
/* ======= END HERO ======= */

/* ======= ADVANTAGES ======= */

.title-list {
  display: flex;
}

.title-list-item {
  margin-right: 30px;
}

.title-list-item:last-child {
  margin-right: 0;
}

.subtitle-advantages {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
}
.subtitle-advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.advantages > .container {
  padding-bottom: 0;
}
/* ======= END ADVANTAGES ======= */

/* ======= WORK ======= */

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list-item:nth-child(3n) {
  margin-right: 0;
}

.work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* ======= END WORK ======= */

/* ======= TEAM ======= */

.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}

.team-list-item {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-list-item-inner {
  padding: 30px 60px;
}

.team-list-item-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.team-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/* ======= END TEAM ======= */

/* ======= PROJECTS ======= */

.projects-btn {
  display: flex;
  justify-content: center;
}

.projects-btn-item {
  display: block;
  margin-right: 8px;
}

.projects-btn-item-links {
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background-color: #f5f4fa;
}

.projects-btn-item-links:hover,
.projects-btn-item-links:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-item-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item-list-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-item-list:nth-child(3n) {
  margin-right: 0;
}

.project-item-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.project-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/* ======= END PROJECTS ======= */

/* ======= FOOTER ======= */
.footer {
  background-color: #2f303a;
}
.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

.address-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.address-list-item {
  margin-bottom: 9px;
}

.address-list-item-contact {
  display: inline-block;
  color: var(--footer-color);
}

.footer-container .logo {
  display: inline-block;
  margin-bottom: 20px;
}
/* ======= END FOOTER ======= */
